<p style="color: green"><%= notice %></p>

<h1><%= @project.name %></h1>
</p><%= @project.description %></p>

<%= @project.swatches.each do |swatch| %>
  <%= link_to swatch, class: "swatch"  do %>
    <%= render swatch %>
  <% end%>
<% end%>

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>

  <%= button_to "Destroy this project", @project, method: :delete %>
</div>